@import url(../icomoon/mixins.less);

.search {
	form.initial {
		width: 500px;
		margin: 50px auto 0 auto;
		border: 1px solid #808080;

		h1, form {
			text-align: center;
			margin-top: 0;
		}
		input.text {
			width: 250px;
		}

		padding: 30px 20px;
	}
	.results {
		&.initial {
			display: none;
		}

		.template { display: none; }

		.event-search,
		.conference-search {
			.icon-search();

			font-size: 0;
			&::before {
				font-size: 16px;
			}
		}
	}
}
