@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-blb5lu');
  src: url('fonts/icomoon.eot?#iefix-blb5lu') format('embedded-opentype'), url('fonts/icomoon.woff?-blb5lu') format('woff'), url('fonts/icomoon.ttf?-blb5lu') format('truetype'), url('fonts/icomoon.svg?-blb5lu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
